.metatext {
  font-family: 'Lobster', cursive;
  font-size: 600%;

  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 7;

  text-align: center;
  color: grey;

  z-index: 1;
}

#midhatext {
  color: hotpink;
}

a:link {
  text-decoration: none;
  color: red;
}

a:visited {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: underline;
  color: red;
}

a:active {
  text-decoration: underline;
  color: red;
}
